<%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, autofocus: true, placeholder: "Enter a username", class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Login', class: "btn btn-primary w-75" %> <br>
    <%= link_to 'Signup', new_users_path, class: "btn my-bg-darker w-75 mt-2 text-light " %>
  </div>
<% end %>
