
<div class="card mb-3 mx-auto col-lg-6" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <%= display_photo_profile(opinion.author, :thumb) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to opinion.author.fullname, profile_path(opinion.author.username), 
                class: "text-dark" 
          %> </h5>
        <p class="card-text"><p class="card-text"><%= opinion.text %></p>
        <p class="card-text">
          <small class="text-muted">
            <%= opinion.created_at.to_formatted_s(:short) %> 
          </small>
        </p>
        <div class="card-text text-muted d-flex justify-content-end" style="font-size: 20px;">
          <small class="text-muted"> 
            <%= opinion.likes.length %> 
          </small>
          <%= like_or_dislike_btn(opinion) %>
        </div>
      </div>
    </div>
  </div>
</div>

