<div class="mt-3">
  <div class="d-flex justify-content-center m-4">
    <div class="my-auto mr-3">
      <% if display_follow_btn(@user, 'layouts/follow_icon').nil? %>
        <ion-icon name="checkmark-circle-outline" style="font-size: 50px;" class="text-muted"></ion-icon>
      <% else %>
        <%= display_follow_btn(@user, 'layouts/follow_icon') %>
      <% end %>
    </div>
    <div>
      <%= display_photo_profile_users_page(@user, :medium) %>
    </div>
    <div class="my-auto text-muted ml-3">
      <ion-icon name="list-circle-outline" style="font-size: 50px;"></ion-icon>
    </div>
  </div>
  <div class="text-center" style="line-height: 1;">
    <h5><strong><%= @user.fullname %></strong> </h5>
    <p class="text-muted">@<%= @user.username %></p>
  </div>
  <div class="row border-top border-bottom w-100">
    <div class="col-4 text-center p-3 border-right">
      <h5 ><%= @user.opinions.length %></h5>
      <p >Opinions</p>
    </div>
    <div class="col-4 text-center p-3 border-right">
      <h5 ><%= @user.followings.length %></h5>
      <p >Following</p>
    </div>
    <div class="col-4 text-center p-3 ">
      <h5 ><%= @user.followers.length %></h5>
      <p >Followers</p>
    </div>
  </div>
  <div>
    <h5 class="text-uppercase text-muted p-4">Followed by</h5>
  </div>
  <div class="border-top w-100">
    <% @user.followers.each do |follower| %>
      <div class="d-flex flex-row align-items-center m-auto p-3 shadow rounded">
        <div>
          <%= display_follow_btn(follower, 'layouts/follow_icon') %>
        </div>
        <div >
          <%= display_photo_profile(follower, :medium)  %>
        </div>
        <div>
          <h6>
            <strong>
              <%= link_to follower.fullname, profile_path(follower.username), class: "text-dark" %>
            </strong>
          </h6>
          <small class="text-muted">
            <%= display_follower_count(follower) %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
