<aside class="left-navbar my-bg-darker container px-0" >
  <div class="d-flex flex-row align-items-center m-auto p-3">
  
    <%= display_photo_profile(current_user, :thumb) %>
  
    <%= link_to current_user.fullname, profile_path(current_user.username), 
    class: "col-6 text-secondary text-uppercase | mx-auto   my-auto |  p-2 | font-weight-bold ", 
    style: "min-width: 200px;" %>
  </div>
  <div class="follow-count-container row mx-4 ">
    <div class="col-6 text-center p-3 list-group-item">
      <h5 class="text-light"><%= current_user.followings.length %></h5>
      <p class="text-light">Following</p>
    </div>
    <div class="col-6 text-center list-group-item p-3">
      <h5 class="text-light"><%= current_user.followers.length %></h5>
      <p class="text-light">Followers</p>
    </div>
  </div>
  <div class="list-group rounded-0">
    <%= link_to root_path, class: "text-light list-group-item list-group-item-action pl-5" do %>
      <ion-icon name="home" class="mr-2"></ion-icon> Home
    <% end %>
    <%= link_to "#", class: "text-light list-group-item list-group-item-action pl-5" do %>
      <ion-icon name="at-outline"class="mr-2"></ion-icon>  Connect
    <% end %>
    <%= link_to  root_path, class: "text-light list-group-item list-group-item-action pl-5" do%>
    <ion-icon name="chatbox"class="mr-2"></ion-icon>  Discover
    <% end %>

    <%= link_to  profile_path(current_user.username), class: "text-light list-group-item list-group-item-action pl-5" do %>
    <ion-icon name="person"class="mr-2"></ion-icon> Profile
    <% end %>
    <%= link_to logout_path, method: :delete, class: "text-light list-group-item list-group-item-action pl-5" do%>
    <ion-icon name="log-out-outline"class="mr-2"></ion-icon> Log out
    <% end %>
  </div>
</aside>