<!DOCTYPE html>
<html>
  <head>
    <title>MCASocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </head>

  <body>
    <div class="main-app-container">
      <%= render 'layouts/navbar' %>
      <div class="middle-content">
        <%= yield %>
      </div>
      <%= render 'sidebar_left' %>
      <%= render 'sidebar_rigth' %>
    </div>
  </body>
</html>
