<!DOCTYPE html>
<html>
  <head>
    <title>MCASocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </head>

  <body class="main-app-container my-bg-ligth">
    
      <% if current_user.present? %> 
          <%= render 'layouts/navbar' %>  
          <div class="middle-content m-4">
            <%= yield %>
          </div>
          <%= render 'layouts/sidebar_left' %>
          <%= render 'layouts/sidebar_rigth' %>
      <% else %>
          <%= render 'sessions/signin_form' %>
      <% end %>
  </body>
</html>
