<!DOCTYPE html>
<html>
  <head>
    <title>MCASocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </head>

  <body >
    <div class="alert-container">
      <% flash.each do |key, value|%>
        <div class="alert alert-info" role="alert">
          <button type="button" class="close ml-2" data-dismiss="alert">&times;</button>
          <%=value%>
        </div>
      <% end %>
    </div>
    <div class="main-app-container my-bg-ligth">
    
    <%= validate_session %>
    </div>
  </body>
</html>
